@model MvcOnlineTicariOtomasyon.Models.Kategori
@{
    ViewBag.Title = "AddKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form method="post" class="form-group">
    @Html.LabelFor(x => x.KategoriAd)
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <button class="btn btn-info mt-3">Kaydet</button>
</form>
