@model MvcOnlineTicariOtomasyon.Models.Kategori
@{
    ViewBag.Title = "GetKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kategori Güncelleme</h2>

@using (Html.BeginForm("UpdateKategori", "Kategori", FormMethod.Post))
{
    <div class="form-group mb-2">
        @Html.LabelFor(x => x.KategoriAd)
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.KategoriID)
    </div>
    <button class="btn btn-warning">Güncelle</button>
}
