@model MvcOnlineTicariOtomasyon.Models.Departman
@{
    ViewBag.Title = "AddDepartman";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Departman Sayfası</h2>
<br />
<form method="post" class="form-group">
    @Html.LabelFor(x => x.DepartmanAd)
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    <button class="btn btn-info mt-3">Kaydet</button>
</form>
