@using MvcOnlineTicariOtomasyon.Models
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-3">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.DepartmanID</th>
            <td>@item.DepartmanAd</td>
            <td><a href="/Departman/DeleteDepartman/@item.DepartmanID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/GetDepartman/@item.DepartmanID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetails/@item.DepartmanID" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>

<a href="/Departman/AddDepartman/" class="btn btn-info">Yeni Departman Ekle</a>